
<%= form_with(model: @user,local: true,html: {multipart: true} ) do |f|%>
    <% if @user.errors.any? %>
        <div class="error_explanation">
            <h2><%= @user.errors.count%> errors occured!!</h2>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end%>
    <br>
    <div class="row">
      <div class="col col-6">
        <% if current_user.image?%>
          <h4>Your current Profile Picture</h4>
          <%=image_tag(@user.image_url(:thumb)) if @user.image?%>
        <% end %>                             
      </div>
      <div class="col col-6">
      <% if current_user.image?%>
        <div style="top:70px">
          <h4 style="text-align:center">Update Your Profile Picture</h4>
        </div>
      <% else %>
        <div style="top:0px">
          <h4 style="text-align:center">Add Your First Profile Picture</h4>
        </div>
      <% end %>
      
        <div class="field form-group row">
          <%= f.label :image , class: 'col-sm-2 control-label', style:'text-align:right;margin-top:7px'%>
          <%= f.file_field :image, id: :user_image %>
          <%= f.hidden_field :image_cache %>
          <%= f.submit 'Save', class: 'btn btn-primary btn-save', style:'width:150px' %>
        </div>
      </div>
    </div>
          <hr>
    <%if @post.present?%>
      <h4 style="text-align:center">Your Favorite post(s)</h4>
    <% else %>
      <h4 style="text-align:center">You ave not favorited any post yet, ceck on post list and go to <i class="btn btn-info glyphicon glyphicon-eye-open"></i> to make your first favorite!!!</h4>
    <% end %>
    
    <div style="margin-bottom:100px">
    <div class="row">
    <% @post.each do |p|%>
      <div class="col col-4">
          <p>Content: <%=p.content%></p>
          <p>
            <strong>Image:</strong>
            <%= image_tag p.image_url(:thumb) if p.image?%>
          </p>
          <%= link_to 'Cancel favorites', favorite_path(post_id: p.id), method: :delete, class: 'btn btn-danger',style:'margin-left:80px' %>
      </div>
    
    <% end %>
    </div>
    </div>
<% end %>